<div id = "tableResume" >
<webobject name = "Tabs">
  <webobject name = "ContexteTab"><webobject name = "contexte" /><webobject name = "contexteObserve"/></webobject>
  <webobject name = "ProblematiqueTab"><webobject name = "problematik" /><webobject name = "problematikObserve"/></webobject>
  <webobject name = "ObjectifsTab"><webobject name = "objectifs" /><webobject name = "objectifsObserve"/></webobject>
  <webobject name = "MethodologieTab"><wo name = "metho" /><webobject name = "methoObserve"/></webobject>
</webobject>
<div style = "clear: both"></div>
</div>