# (c) Cèdre
# Fichier de config de l'application PPREC 
# Les parametres definis ici remplacent ceux
# definis dans la table GRHUM.GRHUM_PARAMETRES 

APP_USE_MAIL = OUI
HOST_MAIL=smtp.utt.fr
ADMIN_MAIL=raymond.naneon@utt.fr
DOMAIN_NAME=utt.fr

APP_ALIAS=Pprec
APP_TITLE=PPREC
APP_USE_GEDFS = NON
APP_URL = http://imac-cedre.utt.fr:8484/cgi-bin/WebObjects/PreProjets.woa/wa/casLogin

NET_NO_PROXY_HOSTS=*.utt.fr

#Identification CAS
#utilisation de l'identification CAS - (OUI/NON)
APP_USE_CAS = OUI

CAS_LOGOUT_URL = https://cas.utt.fr/cas/logout?service=http://imac-cedre.utt.fr:8484/cgi-bin/WebObjects/PreProjets

MAIN_WEB_SITE_URL=http://imac-cedre.utt.fr:8484/cgi-bin/WebObjects/PreProjets.woa/wa/casLogin

MAIN_LOGO_URL=https://agecanonix-form.utt.fr/WebObjects/Images/logoUTTgaucheLittle.png

DEFAULT_NS_TIMEZONE = Europe/Paris

# Ces modes  permettent d'activer ou non les logs ou envoie de mail
TEST = OUI
MODE_DEBUG = OUI

# Choix de la gestion des droits('False' gestion par jefyAdmin/'True' Gestion par AGRHUM
# Activation/desactivation de la nouvelle gestion des droits
ENABLE_NEW_GD = OUI


## Ce paramètre permet de fixer la liste des CStructure des groupes (ou structures) contenant les utilisateurs ayant 
## le droit d'accéder à PPREC.
## Par defaut si le paramètre est vide ou pas mentionné tous les uilisateurs avec un compte sur le vlan R peuvent accèder à Pprec.
C_STRUCTURE_LIST_PPREC_USERS = 65,66,67,2823

LC_STRUCTURE_LIST_POLES = P2MN,HETIC,ROSAS,EXTERNES

# Les Equipes (Programmes d'accueil)

CREIDD = 90
ERA = 87
GAMMA3 = 83
LASMIS = 84
LM2S = 86
LNIO = 91
LOSI = 88
TECH-CICO = 89

LC_STRUCTURE_LIST_EQUIPES = CREIDD,ERA,GAMMA3,LASMIS,LM2S,LNIO,LOSI,TECH-CICO

## groupe dont les membres ont les droits d'administrateur
C_STRUCTURE_ADMIN_PPREC = 2665

## Paramètres utilisés pour identifier les diférents responsables des 2 structures de la recherche
## Si vous vous en avez une, indiquer le même c_structure
## Il est indispensable pour l'envoie de mail après Visa des responsable pour validation
## C_Structure de la direction de la recherche

RESP_DR_RECH = 68

##C_Structure de l'administration de la recherche

RESP_ADM_RECH = 69
##

##Paramétrage du cStructure UMR/STMR
UMR_STMR = 2545

##Cellule de coordination de contrat de recherche
CCCR = 3150

##Mail d'information à l'Administration de la recherche
ADRM_RECH_MAIL = recherche@utt.fr

#Activation du deversement par batch OUI/NON
BATCH_ENABLE = OUI

