<webobject name = "Wrapper">
  <br />
  <br />
  <br />
  <br />
  <webobject name = "nouveauPlateauContainer">
    <webobject name = "Form">
    <center>
      <div id = "tableMain" align = "center">
        <div id = "col_left" class = "texte obligatoire" style = "width:auto;">&nbsp;&nbsp;&nbsp;P&ocirc;le&nbsp;</div>
        <div id = "col_mid" class = "text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<wo name = "polePlateau" />
          <webobject name = "polePlateauObserve" />
        </div>
        <div style = "clear: both"></div>
        <div id = "col_left" class = "texte obligatoire" style = "width:auto;">&nbsp;&nbsp;&nbsp;Libell&eacute; abr&eacute;g&eacute; plateau technique&nbsp;</div>
        <div id = "col_mid" class = "texte"> &nbsp;<webobject name = "nomAbrPlateau" />
          <webobject name = "nomAbrPlateauObserve" /></div>
        <div style = "clear: both"></div>
        <div id = "col_left" class = "texte obligatoire" style = "width:auto;">&nbsp;&nbsp;&nbsp;Libell&eacute; plateau technique&nbsp;</div>
        <div id = "col_mid">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<webobject name = "nomPlateau" /><webobject name = "nomPlateauObserve" /></div>
        <div style = "clear: both"></div>
      </div>
      <br />
      <table class = "texte" align = "center">
        <tr>
          <td><webobject name = "Annuler" /></td>
          <td><webobject name = "AjouterPlateau" /></td>
        </tr>
      </table>
      </center>
      <br />
      </webobject>
    <table>
      <tr>
        <td class = "aide aide-champ"> <webobject name = "infos" /></td>
      </tr>
    </table>
  </webobject>
</webobject>