<!DOCTYPE html>
<html lang = "fr">
  <head>
    <meta charset = "utf-8" />
    <meta name = "robots" content = "noindex" />
    <!-- disable iPhone inital scale -->
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
    <title>Pr&eacute;-Projet de RechErChe - PPREC</title>
    <script type = "text/javascript">
      if(window.history.forward(1) != null) {
        window.history.forward(1);
      }
    </script>
    <script src = "https://cas.utt.fr/iframe/postMessage-resize-iframe-in-parent.js">
    </script>
  </head>
  <webobject name = "Notifs" />
  <webobject name = "Body">
    <webobject name = "TestNavigateur">
      <center>
        <h1 style = "color: red;">Attention - Vous utilisez Internet Explorer. Ce navigateur n'est pas support&eacute; par PPREC</h1>
      </center>
    </webobject>
    <webobject name = "Elses"> <webobject name = "Contenu" /> </webobject>
  </webobject>
</html>