<br />
<br />
<div style = "clear: both"></div>
<div id = "tableMain">
  <div id = "col_left" class = "texte" style = "width:auto;">Module de recherche mots clefs&nbsp;:&nbsp;&nbsp;</div>
  <div id = "col_mid" class = "texte">
    <webobject name = "completionObserve">
    <webobject name = "completion" />
    </webobject>
  </div>
  <div id = "col_mid" class = "texte">
    <webobject name = "completionObserve1" >
    <webobject name = "completion1" />
    </webobject>
  </div>
  <div id = "col_mid" class = "texte">
    <webobject name = "completionObserve2" >
    <webobject name = "completion2" />
    </webobject>
  </div>
  <div id = "col_mid" class = "texte">&nbsp;&nbsp;&nbsp;&nbsp;<webobject name = "addKeyword" /></div>
  <div style = "clear: both"></div>
  <div id = "col_mid" class = "texte">
    <webobject name = "NouveauMotClef" />
    <webobject name = "DialogNouveauMotClef" />
  </div>
  <div style = "clear: both"></div>
</div>